# --- SEGURIDAD ---
# Ignorar el archivo que contiene la contraseña de MySQL
.env
.env.local

# --- PYTHON ---
# Archivos compilados que genera Python al ejecutarse
__pycache__/
*.py[cod]
*$py.class

# --- ENTORNOS VIRTUALES ---
# Carpeta de dependencias locales
venv/
ENV/
env/

# --- SISTEMA Y LOGS ---
# Archivos temporales de Mac y Windows
.DS_Store
Thumbs.db
*.log
